[Unit]
Description=Reboot Vrouter containers
After=docker.service

[Service]
User=root
Type=forking
ExecStart=/usr/local/bin/vrouter.sh

[Install]
WantedBy=multi-user.target
